# Output directory
_out/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
carlavenv/
.venv_nuscenes_py311/

# IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Others
todo.md
nuscenes_format

v1.0-mini


