# Output directory
_out/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
carlavenv/

# IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Todo
todo.md
